*{
	margin: 0;
	padding: 0;
}

#Main{
	display: flex;
	height: 100%;
	justify-content: space-around;
	flex-direction: row;
}

.veryMain{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#main1, #main2, #main3{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px 0px;
}

.qt{
	color: red;
	text-decoration: none;
	font-weight: 200;
}

.qt:hover{
	color: orange;
	transition: 700ms;
}
.p{
	font-size: 1.5rem;
	color: white;
}

p{
	font-size: 1.5rem;
	color: black;
}

li{
	list-style-type: none;	
	font-size: 1.5rem;
}

.fire:before {
	content: "🔥"; /* Добавляем в качестве маркера символ */
}

header {
background: black;
}

.container {
display: flex;
justify-content: space-around;
align-items: center;
height: 130px;
width: 100%;
padding: 0px;
margin: 0 auto;
}

img {
height: 100%;
}

nav ul {
margin: 0px;
padding: 0px;
}

nav li{
	display: inline-block;
	margin: 0 5px;
}

.p1, .p2 {
display: inline;
}

nav a {
text-decoration: none;
line-height: 200px;
font-size: 25px;
margin: 0 30px;
color: white;
}

a:hover {
color: orange;
transition: 700ms;
}

footer{
	background: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 130px;
	width: 100%;
	/*padding: 10px;*/
	
}
.social{
	color: white;
	font-size: 1.3rem
}
.mini{
	display: flex;
	width: 7%;
	justify-content: space-between;
}
#AK{
	color: white;
	font-size: 1.1rem
}
